---
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/layouts/Header";
import MotionBackground from "~/components/layouts/MotionBackground";
---

<Layout>
  <MotionBackground client:load transition:persist transition:name="bg" />
  <Header client:load currentPage="home" />
  <main
    class="w-full h-screen flex items-center justify-center"
    transition:animate="fade"
  >
  </main>
</Layout>
