---
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/header";
import Footer from '~/components/footer';

import Icon from "~/assets/images/icon2.webp";
import Catchcopy from "~/assets/catchcopy.svg";
---

<Layout class="">
  <div class="fixed inset-0 z-10 w-full">
    <Header client:load />
  </div>
  
  <main class="w-full h-screen flex flex-col items-center justify-center bg-[#131313] text-white">
    <div class="w-full flex items-center justify-between gap-4 px-32">
      
      <div class="flex flex-col">
        <h1 class="text-4xl font-futura_pt">Kizuki Aiki</h1>
        <h2 class="text-xl font-shuei_gothic">相木 絆煌</h2>
      
        <img src={Catchcopy.src} alt="catchcopy" class="w-auto h-24 pt-16" />
      </div>
      
      <img src={Icon.src} alt="icon" class="w-48 h-auto rounded-3xl" />
    </div>
    
    <div class="py-24 font-shuei_gothic">
      <div class="text-2xl font-futura_pt">About</div>
      <div class="pt-4">神山まるごと高専一期生 / 高専プログラミングコンテスト '23 '24 / TwoGate Dev Camp 2024 Summer / Hack1グランプリ2025 / JAPAN AI HACKATHON 2025</div>
    </div>
  </main>
  
  <div class="fixed inset-x-0 bottom-0 z-10 w-full">
    <Footer />
  </div>
</Layout>
